/* CSS Document */

body{
background-image:url(../img/bg_grad.jpg);
background-repeat:repeat-x;
background-color:#CCCCCC;
font-family:Arial, Helvetica, sans-serif;
}

#iFrame{
background-color:#FFFFFF;
}
